<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/student023/shop/assets/images/brand/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/student023/shop/css/sass/cart.css">
    <link href="/student023/shop/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/student023/shop/assets/fontawesome/css/all.css" rel="stylesheet">
    <title>Carrito de Compra</title>
</head>

<body>

    <header>

        <i class="fa-solid fa-bars fa-2xl" aria-label="icono menu hamburguesa"></i>

        <a href="../index.html"><img src="../assets/images/brand/logo_claro.png" alt="logo riff store"></a>

        <nav>

            <div>
                <i class="fa-solid fa-x fa-2xl" id="icon-close-menu" aria-label="icono cerrar menu"></i>
            </div>

            <a href="../index.html">Inicio</a>

            <p id="dropdown-menu-caret">
                Tienda <i class="fa-solid fa-caret-down"></i>
            </p>

            <div id="dropdown-content">
                <a href="">Guitarras electricas</a>
                <a href="" ">Guitarras acústicas</a>
            </div>

            <a href="">Ofertas</a>
            <a href="">Novedades</a>
        </nav>

        <form action=" #">
                    <input type="search" name="search" aria-label="barra de busqueda"/>
                    <i class="fa-solid fa-search fa-xl" aria-label="icono busqueda"></i>
                    </form>

                    <a href="../backend/login.php" aria-label="icono usuario"><i class="fa-solid fa-circle-user fa-2xl" ></i></a>
                    <a href="./shopping_cart.html" aria-label="icono carrito de compra"><i
                            class="fa-solid fa-cart-shopping fa-2xl" ></i></a>
    </header>

    <main>
        <h1>Su cesta de compras</h1>
        <hr>
        <div>
            <!-- SECTION LIST PRODUCTS -->
            <section id="shopping-cart-products">
              <h1>No hay productos :(</h1>
            </section>

            <!-- SECTION SUBTOTAL -->
            <section>
                <div>
                    <h2>Total: <span id="subtotal">0€</span></h2>
                    <small>Todos los precios incluyen <span>IVA</span></small>
                    <a id="buy-button" href="../backend/checkout/address.php">IR A CAJA <i class="fa-solid fa-arrow-right"></i></a></>
                </div>
            </section>
        </div>

        <h1>Productos Destacados</h1>
        <hr>
        <section id="list-featured-products">

        </section>
    </main>

    <footer>

        <div>

            <h2>Ayuda</h2>

            <hr>

            <a href="">F.A.Q</a>

            <hr>

            <a href="">Contacto</a>
        </div>

        <hr>

        <div>

            <h2>Empresa</h2>

            <hr>

            <a href=""">Quienes somos</a>
        </div>

        <hr>

        <div>

            <i class=" fa-brands fa-x-twitter fa-xl" aria-label="icono twitter"></i>
                <i class="fa-brands fa-instagram fa-xl" aria-label="icono instagram"></i>
                <i class="fa-brands fa-youtube fa-xl" aria-label="icono youtube"></i>
        </div>

        <hr>

        <div>

            <h2>Métodos de pago</h2>

            <div>
                <img src="/student023/shop/assets/images/payment_methods/visa.png" alt="imagen visa">
                <img src="/student023/shop/assets/images/payment_methods/mastercard.png" alt="imagen mastercard">
                <img src="/student023/shop/assets/images/payment_methods/google.png" alt="imagen google pay">
                <img src="/student023/shop/assets/images/payment_methods/paypal.png" alt="imagen paypal">
                <img src="/student023/shop/assets/images/payment_methods/amex.png" alt="imagen american express">
                <img src="/student023/shop/assets/images/payment_methods/apple.png" alt="imagen apple pay">
            </div>
        </div>

        <hr>

        <div>

            <a href="">Política de privacidad | </a>
            <a href="">Preferencia de cookies</a>
        </div>

        <hr>

        <small>
            <i class="fa-regular fa-copyright" aria-label="icono copyright"></i> Riff Store
        </small>
        <i class="fa-solid fa-universal-access" id="universal-access-btn"></i>
        <div id="access-content">
            <div>
              <h3>Opciones de accesibildad</h3>
              <i class="fa-solid fa-x" id="icon-close-access"></i>
            </div>
            
            <div>
              <button id="access-plus-text">
                <i class="fa-solid fa-text-height"></i>
                <p>Maximizar texto</p>
              </button>
              <button id="access-minus-text">
                <i class="fa-solid fa-text-height"></i>
                <p>Minimizar texto</p>
              </button>
              <button id="access-plus-line-height">
                <i class="fa-solid fa-plus"></i>
                <p>Maximizar interlineado</p>
              </button>
              <button id="access-minus-line-height">
                <i class="fa-solid fa-minus"></i>
                <p>Minimizar interlineado</p>
              </button>
              <button id="access-plus-spacing">
                <i class="fa-solid fa-text-width"></i>
                <p>Maximizar espaciado</p>
              </button>
              <button id="access-minus-spacing">
                <i class="fa-solid fa-text-width"></i>
                <p>Minimizar espaciado</p>
              </button>
              <button id="access-saturation">
                <i class="fa-solid fa-circle-half-stroke"></i>
                <p>Saturación</p>
              </button>
              <button id="access-grayscale">
                <i class="fa-solid fa-fill"></i>
                <p>Escala de grises</p>
              </button>
              <button id="access-light">
                <i class="fa-solid fa-sun"></i>
                <p>Modo claro</p>
              </button>
              <button id="access-dark">
                <i class="fa-solid fa-moon"></i>
                <p>Modo oscuro</p>
              </button>
            </div>
            <button id="access-reset">Resetear valores por defecto</button>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-4.0.0.js" integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U=" crossorigin="anonymous"></script>
    <script src="../js/utils.js"></script>
    <script src="../js/accessibility.js"></script>
    <script src="/student023/shop/js/common.js"></script>
    <script src="../js/shopping_cart.js"></script>
</body>

</html>